body{
    background-color: #35275b;
}

.tab{
    width: 60rem;
    height: 34rem;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #423a6f;
    box-shadow: 1rem 1.5rem 2rem rgba(0, 0, 0, 0.15);
    color: #fff;
    overflow: hidden;
}

.tab-header{
    display: flex;
}

.tabHeads{
    width: 25%;
    margin: 20px;
    font-size: 1.5rem;
    padding-bottom: 15px;
    border-bottom: 7px solid rgb(160, 160, 160);
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
    transition: all 0.3s ease-in-out;
}

.tabHeads.active{
    color: yellow;
    border-bottom: 7px solid yellow;
}

.tabHeads:hover{
    color: magenta;
    border-bottom: 7px solid magenta;
    cursor: pointer;
}

.tabHeads i{
    margin-bottom: 10px;
}

.tab-body{
    padding: 20px;
    position: relative;
}

.tab-body p{
    font-size: 1.2rem;
    line-height: 1.5;
}

.tab-body h4{
    font-size: 1.7rem;
    color: rgb(160, 160, 160);
}

.tab-body img{
    width: 100%;
    height: auto;
}

.tab-body-content{
    display: flex;
    align-items: center;
    position: absolute;
    transform: translateX(-1000px);
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.tab-body-content.active{
    transform: translateX(0px);
    opacity: 1;
}
.tab-body-content .column{
    width: 50%;
}