.quiz-heading{
    padding: 30px;
    text-align: center;
}

.quiz-heading h1{
    color: #423a6f;
    font-size: 4rem;
}

.quiz-score{
    background-color: #f5f6f7;
    padding: 20px;
    text-align: center;
    font-size: 2rem;
    color: #423a6f;
    font-weight: 500;
}

.quiz-score.hidden{
    display: none;
    opacity: 0;
}

.quiz-body{
    background-color: #423a6f;
    padding: 50px 40px;
    color: #fff;
}

.quiz-instruction{
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 30px;
}

.questions-sections{
    margin: 40px;
    font-size: 1.5rem;
}

input[type="submit"]{
    width: 100%;
    padding: 10px;
    background-color: #f5f6f7;
    color: #423a6f;
    font-size: 1.2rem;
    font-weight: bold;
    border: 2px solid #f5f6f7;
    border-radius: 4px;
    box-shadow: 1rem 1.5rem 2rem rgba(0,0,0, 0.15);
    transition: all 0.3s ease-in-out;
}

input[type="submit"]:hover{
    cursor: pointer;
    background-color:  #423a6f;
    color:#f5f6f7;
}

input[disabled="disabled"], input[disabled="disabled"]:hover{
    background-color: #afafaf90;
    box-shadow: none;
    border: none;
    color: #423a6f;
    cursor: auto;
}